{%extends "layout.html"%}
{%block content%}
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <h3 class="display-4 mb-4">A wonderful Web app-Flask blog</h3>
          <p class="lead mb-5">Here again i made it. Fask blog my first practice web app. Flask blog is where one can just post anything and other people will see it so long as he/she is registered. indeed i feel the charm of python's existence. <br><span class="text-primary">#pythonforlife</span><br><span class="text-primary">#codingismylife</span></p> <a class="btn btn-md mx-10 btn-outline-primary" href="http://allansifuna.github.io" _blank>About Me</a>
        </div>
      </div>
    </div>
{%endblock content%}
