{% extends "admin.html"%}
{%block users%}
<div class="content-section">
        <h2 class="lead text-right">Adminstrator:{{current_user.username}}</h2>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 mr-0 mt-0">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="bg-steel">
                <tr>
                  <th scope="col">Id</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            {%for user in subscribers%}
            <tbody>
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
              </tr>
          </tbody>
          {%endfor%}
          <tr>
        </table>
    </div>
</div>
</div>
{% endblock users%}
